.bg-navbar{
    background: #194885; 
    // background: -webkit-linear-gradient(to right, #194885,#718e9e, #194885);  
    // background: linear-gradient(to right, #194885,#718e9e, #194885);
    color:#fff;    
}
.footerStyle{
    color: #fff;            
    background: #194885; 
    text-align: center;
    padding: 1rem;
    & a{
        color: #fff;  
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}